/*CUSTOM*/
html,body{
	height: 100%;
	padding: 0px;
	margin: 0px;
}
body{
	background: #DDD;
}
header{
	position: fixed;
	width: 100%;
	z-index: 1000;
}
section{
	padding: 100px 0 100px 0;
}
a{
	cursor: pointer;
}
h1,h2,h3{
	text-align: center;
}



/* Main */
#alerts .alert{
	box-shadow: -5px -5px 5px #000;
}
.page>h1{
	text-align: left;
	width: 400px;
	margin: 50px 0px;
	padding: 0px 0px 5px 5px;
	border-top: 3px solid #FFF;
	border-left: 3px solid;
	font-size: 34px;
	color: #fff;
}
.card .well{
	color: #FFF;
	box-shadow: 5px 5px 5px #333;
}
.card .well h3{
	height: 2em;
}
.card .imgBox{
	height:200px;
	overflow:hidden;
}
.ribbon{
	right: 16px;
}



/*This is for the upload a picture box.*/
div.thumbnail{
	width:100%;
	height:100px;
	text-align:center;
	background: #EEE;
}








/*CSS Overrides*/
.modal-body>img{
	max-width: 100%;
}
.fit{
	display: block;
	margin: 0px auto;
	max-width: 100%;
}
#map-canvas{
	width: 100%;
	height: 500px;
}

.tr, .br, .bl, .tl{
	position: fixed;
	padding: 5px;
	z-index: 999;
}
.tr, .tl{
	top: 0px;
}
.br, .bl{
	bottom: 0px;
}
.tl, .bl{
	left: 0px;
}
.tr, .br{
	right: 0px;
}

.point25{
	width: 20%;
}
.point5{
	width: 50%;
}


.navbar{
	background: #115793;
	background-image: url('/assets/img/background/texture.png'), rgb(44,37,58); /* Old browsers */
	background-image: url('/assets/img/background/texture.png'), -moz-linear-gradient(-45deg,  rgba(44,37,58,1) 0%, rgba(17,87,147,1) 48%, rgba(32,33,48,1) 100%); /* FF3.6+ */
	background-image: url('/assets/img/background/texture.png'), -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(44,37,58,1)), color-stop(48%,rgba(17,87,147,1)), color-stop(100%,rgba(32,33,48,1))); /* Chrome,Safari4+ */
	background-image: url('/assets/img/background/texture.png'), -webkit-linear-gradient(-45deg,  rgba(44,37,58,1) 0%,rgba(17,87,147,1) 48%,rgba(32,33,48,1) 100%); /* Chrome10+,Safari5.1+ */
	background-image: url('/assets/img/background/texture.png'), -o-linear-gradient(-45deg,  rgba(44,37,58,1) 0%,rgba(17,87,147,1) 48%,rgba(32,33,48,1) 100%); /* Opera 11.10+ */
	background-image: url('/assets/img/background/texture.png'), -ms-linear-gradient(-45deg,  rgba(44,37,58,1) 0%,rgba(17,87,147,1) 48%,rgba(32,33,48,1) 100%); /* IE10+ */
	background-image: url('/assets/img/background/texture.png'), linear-gradient(135deg,  rgba(44,37,58,1) 0%,rgba(17,87,147,1) 48%,rgba(32,33,48,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c253a', endColorstr='#202130',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border-radius: 0px;
	color: #FFF;
}
#startServing .navbar *{
	color: #FFF;
}
.navbar .dropdown-menu{
	background: #115793;
}
.navbar .dropdown-menu{
	background: #115793;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background:#333;
}
.navbar .dropdown-menu li a:hover{
	background: #063572;
}

[ng-click]{
	cursor: pointer;
}

#startServing a:hover{
	text-decoration: none;
}


.carousel{
	margin-bottom:50px;
}
.carousel img{
	height:300px !important;
}


/* RESPONSIVE */
/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
	.point25 .point5{
		width: 100%;
	}
}